body{
    background-color: rgb(232, 232, 232);
}
.page-card{
    margin-top: 2rem;
    background-color: white;
    box-shadow: 2px 2px 20px 1px gray;
}
.main-page-card{
    box-shadow: none;
    margin-top: 0px;
}
#p1{
    padding-bottom: 1rem;
}
.page-card .page-name{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 2rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
}
.page-card .page-name .project-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	position: relative;
}
.page-card .page-name .project-header .project-more img{
    width:auto;
    height: 25px;

}
.page-card .page-name .project-header .more-button{
    border: 1px solid #010203;
    border-radius: 18px;
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
    color: black;
	font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 80px;
    margin-bottom: 10px;
    /*width:140px;*/
	position: absolute;
	right: 0px;
}
.page-card .page-name .project-header .more-button:hover{
    background-color:#f2f2f2;
    /*color:white;*/
}
.page-card .page-name .project-side {
    margin-top: 0.2rem;
    font-size: 9pt;
    margin-bottom: 0.5rem;
}
.page-card .project{
    padding-bottom:1rem;
    padding-top: 1rem;
    display: flex;
    /*height: 100px;*/
}
.page-card .search-box{
    display: flex;
    align-items: center;
    width:100%;
    margin-top: 1rem;
}
.page-card .search-box .search-input{
    width:97%;
    margin-right: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 1rem;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    border-radius: 20px;

}
.page-card .search-box .search-input img{
    height: 20px;
    width:auto;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-left: 1rem;
}
.page-card .search-box .search-input input{
    outline: none;
    width:70%;
    height: 80%;
    border: none;
    background: none;
    font-size: 10pt;
}
.page-card .search-box .search-btn{
    text-align: center;
    justify-content: center;
    min-width:100px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 20px;
	font-size: 15px;
}
.page-card .project .project-box{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 15px 1px gray;
    margin-right:1.5rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
    border-radius: 18px;
}

.project{
    overflow:hidden;
}
.page-card .project .project-box .project-card{
    /*background-image: url('../img/temp/temp.png');*/
    border-radius: 8px;
    width:360px;
    height:230px;
    background-size: cover;
    display:flex;
    flex-direction: column;
}
/*카테고리별 백그라운드 이미지*/
.construct{
    background-image:url("/img/RESOURCE/FieldTourist/bg_construct.png");
}
.culture{
    background-image:url("/img/RESOURCE/FieldTourist/bg_culture.png");
}
.experience{
    background-image:url("/img/RESOURCE/FieldTourist/bg_experience.png");
}
.history{
    background-image:url("/img/RESOURCE/FieldTourist/bg_history.png");
}
.industry{
    background-image:url("/img/RESOURCE/FieldTourist/bg_industry.png");
}
.island{
     background-image:url("/img/RESOURCE/FieldTourist/bg_island.png");
 }
.nature{
      background-image:url("/img/RESOURCE/FieldTourist/bg_nature.png");
}
.recreation{
    background-image:url("/img/RESOURCE/FieldTourist/bg_recreation.png");
}
.tourism{
    background-image:url("/img/RESOURCE/FieldTourist/bg_tourism.png");
}


.null-box{
    flex:1;
}
.project_bottom_explain{
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-basis: 4rem;
    flex-shrink: 2;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 1rem;
    align-items: center;
    justify-content:flex-start;

}
.project-title{
    width: 70%;

}
.project-subtitle{
    text-align: center;
    width: 30%;
    float: right;
    box-sizing: border-box;
    padding-right:10px;

}
.project-subtitle > .item{
    font-size: 9pt;
    width: 50%;
    float: left;
    text-align: center;
}

.project-name{
    font-size: 18pt;
}
.project-subName{
    font-size: 5pt;
	color: rgba(255,255,255,0.6);
}

.rightBtn {
    position: absolute;
    z-index: 10;
    right: 0px;
	top: 0px;
    margin-top: 50px;
    cursor: pointer;
}
.rightBtn img{
    height: 100px;
    width:auto;
}
.btn_box{
	position: relative;
}
.leftBtn {
    position: absolute;
    z-index: 10;
    left: 0px;
	top: 0px;
    margin-top: 50px;
    cursor: pointer;
}
.leftBtn img{
    height: 100px;
    width:auto;
}
.project-name > a{
	color: #fff;
	text-decoration: none;
}


@media (max-width : 500px){

    .page-card .project .project-box .project-card{
        width:100vw;
    }
    .page-card .page-name{
        padding-right: 0.75rem;
    }
    .unit .unit_box {
        width:100vw;
        margin-right:0;
    }

    .unit > .unit_box > .unit_card {
        width:100vw;
    }

    /*.page-card .project .project-box{
        margin-right:0;
    }*/

    .more{
        width:100px;
    }
}
@media (max-width : 650px){
    /*.page-card .link{
        display:flex;
        justify-content:space-around;
    }*/
    .page-card .search-box{
        flex-direction: column;
    }
    .page-card .search-box .search-input{
        width:100%;
        margin-right: 0rem;
    }
    .page-card .search-box .search-btn{
        width:100%;
    }

    .page-card .page-name .project-header .more-button{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -5px;
    }
}