footer{
  background-image: url("../img/RESOURCE/Main/bg_meun_bar.png");
  height: 80px;
  margin-top: 2rem;
  background-size: cover;
  display: flex;
  align-items: center;
}
footer .footer-logo{
  margin-left: 2rem;
  /*border: 1px solid black;*/
  /*height: 100%;*/
}
footer .footer-logo img{
  height: 35px;
  width: auto;
}
footer .footer-index{
  color:white;
  font-size: 10pt;
  margin-left: 3rem;
  letter-spacing: 3px;

}

footer .footer-icon{
  display: flex;
  /*width:100%;*/
  flex:1;
  justify-content: flex-end;
  padding-right: 1rem;
}
footer .footer-icon img{
  height: 45px;
  width:auto;
}
@media (max-width : 650px){
  footer .footer-icon{
    display: none;
  }
  footer .footer-index{
    font-size: 5pt;

  }

}
@media (max-width : 530px){
  footer .footer-logo{
    display: none;
  }
  footer .footer-index{
    font-size: 5pt;
  }

}
