.containor{
  width:100%;
  /*height: 100%;*/
  /*padding: 1rem;*/
}
.account{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.account .google-box{
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;;
}
.account .google-disabled{
  border: 1px solid #f5f5f5;
}
.account .kakao-box{
  background-color: #ffe617;
  border: 1px solid #ffe617;
}
.account .kakao-disabled{
  border: 1px solid #ffe617;
}
.account .nugu-disabled{
  border: 1px solid #EB542D;
}
.account .fb-box{
  background-color: #3c5b9b;
  border: 1px solid #3c5b9b;
}
.account .fb-disabled{
  border: 1px solid #3c5b9b;
}
.account .nugu-box{
  background-color: #EB542D;
  border: 1px solid #EB542D;
}
.account .account-box{
  width:24.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 2.8rem;
  flex-direction: column;
  cursor: pointer;
  /*margin-left: 0.5rem;
  margin-right: 0.5rem;*/
}
.account .account-box img{
  padding-bottom: 1.2rem;
}
.account .disabled{
  background-color: #fff;
}
.account .nugu-box .account-title{
  color:#fff;
}
.account .nugu-box .account-reset{
  color:#fff;
}
.account .google-box .account-title{
  color:#565656;
}
.account .kakao-box .account-title{
  color:#47292b;
}
.account .kakao-box .account-reset{
  color:#47292b;
}
.account .fb-box .account-title{
  color:#fff;
}
.account .fb-box .account-reset{
  color:#fff;
}
.account .fb-box .account-reset a{
  color:#fff;
}
.account .fb-box .account-reset a:active{
  color:red;
}
.account .account-box .account-title{
  font-size: 12pt;
  font-weight: 600;
}
.account .account-box .account-title span{
  color:#4bb646;
}
.account .account-box .account-reset{
  margin-top: 0.4rem;
  font-size: 8pt;
}

.attract{
  margin-top: 1rem;
  /*border: 1px solid black;*/
  /*width: 100%;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
}
.attract .attract-box{
  /*border: 1px solid black;*/
  width:49%;

}
.attract .attract-box .attract-header{
  border: 1px solid lightgray;
  border-bottom: none;
  padding: 1.3rem;
}
.attract .attract-box .attract-header .header-title{
  font-size: 13pt;
  font-weight: 600;
  color:#354052;
}
.attract .attract-box .attract-index{
  border: 1px solid lightgray;
  
}
.attract .attract-box .attract-index li{
  padding-left: 1.3rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  height: 40px;
  align-items: center;
}
.attract .attract-box .attract-index li  .list-number{
  flex:1;
  min-width: 50px;
  /*border: 1px solid black;*/
  color:#8494a7;
  font-size: 10pt;
}
.attract .attract-box .attract-index li .list-name{
  flex:1.5;
  color:#354052;
  /*border: 1px solid black;*/
  font-size: 10pt;
}
.attract .attract-box .attract-index li  .list-locate{
  flex:4;
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  color:#8494a7;
  /*border: 1px solid black;*/
  font-size: 10pt;
}
.attract .attract-box .attract-index li .list-review{
  flex:1;
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
  min-width: 60px;
}
.attract .attract-box .attract-index li .list-review img{
  width:auto;
  height: 18px;
}
.attract .attract-box .attract-index li .list-review .review-cnt{
  padding-left: 0.4rem;
  font-size: 10pt;
}
@media (max-width : 780px){
    .account{
      flex-direction: column;
    }
    .account .account-box{
      width:100%;
      margin-bottom: 1.2rem;
      margin-left: 0rem;
      margin-right: 0rem;
    }
    .attract{
      flex-direction: column;

    }
    .attract .attract-box{
      width:100%;
      margin-bottom: 1rem;
    }

}
@media (max-width:500px) {
  .attract .attract-box .attract-index li .list-thumb{
    display: none;
  }
  .attract .attract-box .attract-index li .list-number{
    display: none;
  }
}
