.container{
  padding: 1.5rem;
}
.container .head-title{
  margin-top: 1rem;
  /*margin-bottom: 2rem;*/
}
.container .head-title img{
  width: 200px;
  height: auto;
}
.container .head-title div{
  font-size: 9pt;
  margin-top: 0.3rem;
}
.bottom-card{
  border-radius: 10px;
  display: flex;
}
.bottom-card .list-side{
  display: flex;
  /*width:60%;*/
  /*justify-content: space-around;*/
}
.bottom-card .list-side .card-list{
  margin-right: 1.5rem;
}
.card{
  border-radius: 10px;
  margin-top: 2.5rem;
  box-shadow: 2px 2px 20px 1px gray;
  padding: 1.5rem;
}
.main-card{
  border-radius: 10px;
  margin-top: 0rem;
  box-shadow: 2px 2px 20px 1px gray;
  padding: 1.5rem;
}
.oneCard{
  background-color: #ffb742;
}
.twoCard{
  background-color: #b0bfc6;
}
.threeCard{
  background-color: #bdaaa4;
}
.card .card-title{
  font-size: 24pt;
  font-weight: 600;
  text-align: center;
  color:#3c3c3c;
}
.card .card-subTitle{
  font-size: 15pt;
  font-weight: 500;
  text-align: center;
  color:#fff;
  margin-top: 0.5rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid white;
}
.normalCard .card-subTitle{
  color:#c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}
.card .card-index{
  /*border: 1px solid black;*/
  margin-top: 1.3em;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*flex-wrap: wrap;*/

}
.card .card-index .card-left{
  /*border: 1px solid black;*/
  min-width: 250px;
}
.card .card-left .card-info{
  /*border: 1px solid black;*/
  margin-bottom: 2rem;
}
.card .card-left .card-info .info-title{
  display: flex;
  align-items: flex-end;
}
.card .card-left .card-info .info-title .title{
  font-size: 15pt;
  color:#3c3c3c;
}
.card .card-left .card-info .info-title .subTitle{
  color:white;
  margin-left: 0.5rem;
  font-size: 13pt;
}
.normalCard .card-left .card-info .info-title .subTitle{
  color:#c2c2c2;
}
.card .card-left .card-info .info-index{
  margin-top: 0.5rem;
  font-size: 13pt;
  color: #3c3c3c;
}
.card .card-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.card .card-right img{
  width:350px;
  height: auto;
  margin-left: 0.4rem;
}

.bottom-card{
  box-shadow: 2px 2px 20px 1px gray;
  margin-top: 1rem;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}
.bottom-card .card-side{
  display: flex;
  /*width:50%;*/
  justify-content: space-around;
}
.bottom-card .side-left{
  width:40%;
}
.bottom-card .side-right{
  width:60%;
}
.bottom-card .card-side .card-list{
  /*flex:1;*/
}
.bottom-card .card-side .card-list .card-title{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.bottom-card .card-side .card-list .card-title .title{
  font-size: 14pt;
  color: #3c3c3c;
}
.bottom-card .card-side .card-list .card-title .subTitle{
  font-size: 12pt;
  margin-left: 0.3rem;
  color:white;
}
.normalCard .card-side .card-list .card-title .subTitle{
  color:#c2c2c2;
}
.bottom-card .card-side .card-list .index{
  margin-top: 0.7rem;
}
.bottom-card .card-side .card-list .index img{
  width:20px;
  height: auto;
}
@media (max-width : 750px){
  .card .card-index{
    flex-direction: column;
  }
  .card .card-index .card-right{
    justify-content: flex-start;
  }
  .card .card-right img{
    width:100%;
  }
  .bottom-card{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    flex-wrap: wrap;
  }
  .bottom-card .card-side{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bottom-card .card-side .card-list{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .bottom-card .side-left{
    width:100%;
  }
  .bottom-card .side-right{
    width:100%;
  }

  #detailGoogleMap{
    width: 100%;
    position: relative;
    left:-10px;
  }
}
